In [1]:
#import dependencies 
import pandas as pd
from pathlib import Path

## Extract and Transform ASX_Listed_Companies

In [2]:
#read csv
asx_df = pd.read_csv('Resources/01_ASX_Listed_Companies_02-11-2023.csv')
asx_df.head()

,ASX code,Company name,GICs industry group,Listing date,Market Cap
0,14D,1414 DEGREES LIMITED,Capital Goods,12/09/2018,8574067
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,10184494
2,1AE,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,17906374
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,4875868
4,1AI,ALGORAE PHARMACEUTICALS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",01/09/2004,21264623

In [3]:
#re-name columns 
asx_df.columns = ['ticker', 'company_name', 'industry_gp', 'listing_date', 'market_cap']
asx_df

,ticker,company_name,industry_gp,listing_date,market_cap
0,14D,1414 DEGREES LIMITED,Capital Goods,12/09/2018,8574067
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,10184494
2,1AE,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,17906374
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,4875868
4,1AI,ALGORAE PHARMACEUTICALS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",01/09/2004,21264623
...,...,...,...,...,...
2028,ZLD,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",28/07/2003,10325911
2029,ZMI,ZINC OF IRELAND NL,Materials,18/09/2007,3197164
2030,ZMM,ZIMI LIMITED,Technology Hardware & Equipment,10/09/2007,4321596
2031,ZNC,ZENITH MINERALS LIMITED,Materials,29/05/2007,28895232
2032,ZNO,ZOONO GROUP LIMITED,Materials,21/07/1988,10066167

In [4]:
#check data types for columns and 
#Drop the market_cap values 'suspended'
asx_df['market_cap'] = pd.to_numeric(asx_df['market_cap'], errors='coerce') #convert to numeric and coerce other non numeric to NaN
asx_df = asx_df.dropna(subset=['market_cap']) # drop all NaN values in market_cap
asx_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1940 entries, 0 to 2032
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ticker        1940 non-null   object
 1   company_name  1940 non-null   object
 2   industry_gp   1940 non-null   object
 3   listing_date  1940 non-null   object
 4   market_cap    1940 non-null   float64
dtypes: float64(1), object(4)
memory usage: 90.9+ KB

In [5]:
#drop the listing_date column 
asx_df = asx_df.drop('listing_date', axis=1)
asx_df

,ticker,company_name,industry_gp,market_cap
0,14D,1414 DEGREES LIMITED,Capital Goods,8574067.0
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",10184494.0
2,1AE,AURORA ENERGY METALS LIMITED,Materials,17906374.0
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",4875868.0
4,1AI,ALGORAE PHARMACEUTICALS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",21264623.0
...,...,...,...,...
2028,ZLD,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",10325911.0
2029,ZMI,ZINC OF IRELAND NL,Materials,3197164.0
2030,ZMM,ZIMI LIMITED,Technology Hardware & Equipment,4321596.0
2031,ZNC,ZENITH MINERALS LIMITED,Materials,28895232.0
2032,ZNO,ZOONO GROUP LIMITED,Materials,10066167.0

In [6]:
#count incidences of Industry Group
industry_count = asx_df['industry_gp'].value_counts()
industry_count

industry_gp
Materials                                         774
Energy                                            129
Software & Services                               122
Financial Services                                106
Not Applic                                         84
Health Care Equipment & Services                   83
Pharmaceuticals, Biotechnology & Life Sciences     82
Capital Goods                                      80
Commercial & Professional Services                 54
Consumer Services                                  49
Food, Beverage & Tobacco                           46
Equity Real Estate Investment Trusts (REITs)       45
Consumer Discretionary Distribution & Retail       45
Media & Entertainment                              44
Technology Hardware & Equipment                    28
Transportation                                     26
Real Estate Management & Development               24
Utilities                                          20
Telecommunication Services                         17
Consumer Durables & Apparel                        15
Banks                                              14
Insurance                                          13
Household & Personal Products                      11
Automobiles & Components                           10
Class Pend                                          7
Semiconductors & Semiconductor Equipment            6
Consumer Staples Distribution & Retail              6
Name: count, dtype: int64

## Find the top 10 industries per Industry Gp by Market Cap size

DataFrame to use: top_ten_df

In [7]:
#check top 10 for each industry group 
#sort by ind_gp in ascending order and market cap in descending order. 
asx_df.sort_values(by=['industry_gp', 'market_cap'], ascending=[True, False], inplace=True)

#group by 'industry_gp' 
top_tickers_by_industry = asx_df.groupby('industry_gp').head(10)
top_ten_df = top_tickers_by_industry
top_ten_df = top_ten_df.reset_index(drop=True)
top_ten_df

,ticker,company_name,industry_gp,market_cap
0,ARB,ARB CORPORATION LIMITED.,Automobiles & Components,2.455925e+09
1,GUD,G.U.D. HOLDINGS LIMITED,Automobiles & Components,1.534343e+09
2,PWH,PWR HOLDINGS LIMITED,Automobiles & Components,1.000822e+09
3,SFC,SCHAFFER CORPORATION LIMITED,Automobiles & Components,2.272901e+08
4,AHL,ADRAD HOLDINGS LIMITED,Automobiles & Components,7.275023e+07
...,...,...,...,...
254,CEN,CONTACT ENERGY LIMITED,Utilities,5.638375e+09
255,GNE,GENESIS ENERGY LIMITED,Utilities,2.267491e+09
256,D2O,DUXTON WATER LIMITED,Utilities,2.519890e+08
257,GNX,GENEX POWER LIMITED,Utilities,2.077766e+08
258,LGI,LGI LIMITED,Utilities,1.792364e+08

## List of Tickers to use throughout the Project

In [8]:
#create a list of tickers
ticker_list = top_ten_df['ticker'].tolist()

## Export CSV - First Table of Database

In [9]:
#export a csv with top ten data frame for database creation 
top_ten_df.to_csv('Resources/02_top_ten_asx_by_industry.csv', index=False)

In [10]:
#count incidences of Industry Group
top_ten_count = top_ten_df['industry_gp'].value_counts()
top_ten_count

Automobiles & Components                          10
Banks                                             10
Transportation                                    10
Telecommunication Services                        10
Technology Hardware & Equipment                   10
Software & Services                               10
Real Estate Management & Development              10
Pharmaceuticals, Biotechnology & Life Sciences    10
Not Applic                                        10
Media & Entertainment                             10
Materials                                         10
Insurance                                         10
Household & Personal Products                     10
Health Care Equipment & Services                  10
Food, Beverage & Tobacco                          10
Financial Services                                10
Equity Real Estate Investment Trusts (REITs)      10
Energy                                            10
Consumer Services                                 10
Consumer Durables & Apparel                       10
Consumer Discretionary Distribution & Retail      10
Commercial & Professional Services                10
Capital Goods                                     10
Utilities                                         10
Class Pend                                         7
Consumer Staples Distribution & Retail             6
Semiconductors & Semiconductor Equipment           6
Name: industry_gp, dtype: int64

## Create second table with historic stock price data for top_10_df
- import yfinance library
- Loop throug each ticker in ticker_list 
- Use download to retrive historic data. Params: Period=5y, Interval=1wk

In [ ]:
# Install yfinance - need to run this once to install yfinance
!pip install yfinance

In [11]:
#import yfinance library
import yfinance as yf

In [12]:
#Initialize dictionary to hold the history data 
history_data = {}

#loop through each ticker 

for ticker in ticker_list:
    
    ticker = f'{ticker}.AX'
    
    # print(ticker)
    
    try:
        #download the data 
        ticker_data = yf.download(ticker, period='5y', interval='1wk')
        
        #if data is emplty, move to next ticker 
        if ticker_data.empty:
            print(f'No data found for {ticker}')
            continue
            
        #store the data in the dictionary
        history_data[ticker] = ticker_data
    
    except Exception as e:
        #print the error and skip to the next ticker 
        print(f'Error downloading data for {ticker}: {e}')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

## Create pandas dataframe for historic data and transform

dataframe: history_data_df

In [14]:
#convert the dict to a pandas df
history_data_df = pd.concat(history_data.values(), keys=history_data.keys())
history_data_df

                        Open       High        Low      Close  Adj Close  \
       Date
ARB.AX 2018-11-05  17.129999  17.540001  16.370001  17.150000  15.435926
       2018-11-12  17.059999  17.370001  16.655001  17.100000  15.390927
       2018-11-19  17.000000  17.700001  16.330000  17.120001  15.408928
       2018-11-26  17.020000  17.559999  16.750000  16.870001  15.183913
       2018-12-03  17.379999  17.490000  16.110001  16.309999  14.679881
...                      ...        ...        ...        ...        ...
LGI.AX 2023-10-02   2.140000   2.150000   2.100000   2.100000   2.100000
       2023-10-09   2.110000   2.150000   2.050000   2.120000   2.120000
       2023-10-16   2.110000   2.140000   2.010000   2.100000   2.100000
       2023-10-23   2.120000   2.140000   2.080000   2.080000   2.080000
       2023-10-30   2.100000   2.100000   1.880000   2.070000   2.070000

                    Volume
       Date
ARB.AX 2018-11-05  1106127
       2018-11-12  1411720
       2018-11-19   917302
       2018-11-26  1240321
       2018-12-03  1164860
...                    ...
LGI.AX 2023-10-02    28399
       2023-10-09   112431
       2023-10-16    52311
       2023-10-23    56347
       2023-10-30   295150

[60881 rows x 6 columns]

In [19]:
#reset the index
history_data_df = history_data_df.reset_index()
history_data_df.head()

,index,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,0,ARB.AX,2018-11-05,17.129999,17.540001,16.370001,17.150000,15.435926,1106127
1,1,ARB.AX,2018-11-12,17.059999,17.370001,16.655001,17.100000,15.390927,1411720
2,2,ARB.AX,2018-11-19,17.000000,17.700001,16.330000,17.120001,15.408928,917302
3,3,ARB.AX,2018-11-26,17.020000,17.559999,16.750000,16.870001,15.183913,1240321
4,4,ARB.AX,2018-12-03,17.379999,17.490000,16.110001,16.309999,14.679881,1164860

In [20]:
#rename columns and drop the Index col
history_data_df.columns =['Index', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

history_data_df

,Index,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,0,ARB.AX,2018-11-05,17.129999,17.540001,16.370001,17.150000,15.435926,1106127
1,1,ARB.AX,2018-11-12,17.059999,17.370001,16.655001,17.100000,15.390927,1411720
2,2,ARB.AX,2018-11-19,17.000000,17.700001,16.330000,17.120001,15.408928,917302
3,3,ARB.AX,2018-11-26,17.020000,17.559999,16.750000,16.870001,15.183913,1240321
4,4,ARB.AX,2018-12-03,17.379999,17.490000,16.110001,16.309999,14.679881,1164860
...,...,...,...,...,...,...,...,...,...
60876,60876,LGI.AX,2023-10-02,2.140000,2.150000,2.100000,2.100000,2.100000,28399
60877,60877,LGI.AX,2023-10-09,2.110000,2.150000,2.050000,2.120000,2.120000,112431
60878,60878,LGI.AX,2023-10-16,2.110000,2.140000,2.010000,2.100000,2.100000,52311
60879,60879,LGI.AX,2023-10-23,2.120000,2.140000,2.080000,2.080000,2.080000,56347
60880,60880,LGI.AX,2023-10-30,2.100000,2.100000,1.880000,2.070000,2.070000,295150

In [ ]:
history_data_df = history_data_df.drop('Index', axis=1)

In [26]:
history_data_df

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,ARB.AX,2018-11-05,17.129999,17.540001,16.370001,17.150000,15.435926,1106127
1,ARB.AX,2018-11-12,17.059999,17.370001,16.655001,17.100000,15.390927,1411720
2,ARB.AX,2018-11-19,17.000000,17.700001,16.330000,17.120001,15.408928,917302
3,ARB.AX,2018-11-26,17.020000,17.559999,16.750000,16.870001,15.183913,1240321
4,ARB.AX,2018-12-03,17.379999,17.490000,16.110001,16.309999,14.679881,1164860
...,...,...,...,...,...,...,...,...
60876,LGI.AX,2023-10-02,2.140000,2.150000,2.100000,2.100000,2.100000,28399
60877,LGI.AX,2023-10-09,2.110000,2.150000,2.050000,2.120000,2.120000,112431
60878,LGI.AX,2023-10-16,2.110000,2.140000,2.010000,2.100000,2.100000,52311
60879,LGI.AX,2023-10-23,2.120000,2.140000,2.080000,2.080000,2.080000,56347
60880,LGI.AX,2023-10-30,2.100000,2.100000,1.880000,2.070000,2.070000,295150

In [28]:
#remove the AX so that it is consitent with the other table 
history_data_df['Ticker'] = history_data_df['Ticker'].str.replace('\.AX', "", regex=False)

In [ ]:
# #plot a sample line plot for ARB to understand the code to plot a line graph in future
# import matplotlib.pyplot as plt

# # Filter the DataFrame for the ARB ticker
# arb_data = history_data_df[history_data_df['Ticker'] == 'ARB']

# # Plotting the 'Close' price for the ARB ticker
# plt.figure(figsize=(14,7))
# plt.plot(arb_data['Date'], arb_data['Close'], label='Close Price for ARB')
# plt.title('ARB Price Over Time')
# plt.xlabel('Date')
# plt.ylabel('Price')
# plt.legend()
# plt.show()

In [ ]:
history_data_df.to_csv('Resources/03_top_ten_historic_5y.csv', index=False)

## Trying other ways to find historic data before I fixed the .ax error

In [ ]:
# #trying another solution provided by ChatGPT 
# import pandas_datareader as pdr
# from datetime import datetime

# data ={}

# for ticker in ticker_list:
#     try:
#         data[ticker] = pdr.get_data_yahoo(ticker, start=datetime(2018, 11, 4), end=datetime(2023, 11, 4))
    
#     except Exception as e:
#         print(f'Error fetching data for {ticker}: {e}')

In [ ]:
# from alpha_vantage.timeseries import TimeSeries
# import time

# key = 'Q1BCL1DTKOGZXR5T'  # Your Alpha Vantage API key
# ts = TimeSeries(key)

# data = {}
# for ticker in ticker_list:
#     try:
#         # Fetch weekly data for each ticker with '.AX' suffix for ASX
#         data[ticker], meta_data = ts.get_weekly(symbol=f"{ticker}")
#         time.sleep(12)  # To avoid hitting the free tier API limits
#     except Exception as e:
#         print(f"Error fetching data for {ticker}: {e}")

## Create a dataframe that holds the unique industry names

In [31]:
#Create DataFrame for unique industries
industry_df = pd.DataFrame(top_ten_df['industry_gp'].unique(), columns=['industry_name'])
industry_df

                                     industry_name
0                         Automobiles & Components
1                                            Banks
2                                    Capital Goods
3                                       Class Pend
4               Commercial & Professional Services
5     Consumer Discretionary Distribution & Retail
6                      Consumer Durables & Apparel
7                                Consumer Services
8           Consumer Staples Distribution & Retail
9                                           Energy
10    Equity Real Estate Investment Trusts (REITs)
11                              Financial Services
12                        Food, Beverage & Tobacco
13                Health Care Equipment & Services
14                   Household & Personal Products
15                                       Insurance
16                                       Materials
17                           Media & Entertainment
18                                      Not Applic
19  Pharmaceuticals, Biotechnology & Life Sciences
20            Real Estate Management & Development
21        Semiconductors & Semiconductor Equipment
22                             Software & Services
23                 Technology Hardware & Equipment
24                      Telecommunication Services
25                                  Transportation
26                                       Utilities

In [32]:
#Create industry id column
industry_df['industry_id'] = range(1, len(industry_df) +1)
industry_df

                                     industry_name  industry_id
0                         Automobiles & Components            1
1                                            Banks            2
2                                    Capital Goods            3
3                                       Class Pend            4
4               Commercial & Professional Services            5
5     Consumer Discretionary Distribution & Retail            6
6                      Consumer Durables & Apparel            7
7                                Consumer Services            8
8           Consumer Staples Distribution & Retail            9
9                                           Energy           10
10    Equity Real Estate Investment Trusts (REITs)           11
11                              Financial Services           12
12                        Food, Beverage & Tobacco           13
13                Health Care Equipment & Services           14
14                   Household & Personal Products           15
15                                       Insurance           16
16                                       Materials           17
17                           Media & Entertainment           18
18                                      Not Applic           19
19  Pharmaceuticals, Biotechnology & Life Sciences           20
20            Real Estate Management & Development           21
21        Semiconductors & Semiconductor Equipment           22
22                             Software & Services           23
23                 Technology Hardware & Equipment           24
24                      Telecommunication Services           25
25                                  Transportation           26
26                                       Utilities           27

## Map industry name to IDs in top_ten_df

In [33]:
# Merge the df on the INdustryName column
merged_df = pd.merge(top_ten_df, industry_df, left_on='industry_gp', right_on='industry_name', how='left')
merged_df

,ticker,company_name,industry_gp,market_cap,industry_name,industry_id
0,ARB,ARB CORPORATION LIMITED.,Automobiles & Components,2.455925e+09,Automobiles & Components,1
1,GUD,G.U.D. HOLDINGS LIMITED,Automobiles & Components,1.534343e+09,Automobiles & Components,1
2,PWH,PWR HOLDINGS LIMITED,Automobiles & Components,1.000822e+09,Automobiles & Components,1
3,SFC,SCHAFFER CORPORATION LIMITED,Automobiles & Components,2.272901e+08,Automobiles & Components,1
4,AHL,ADRAD HOLDINGS LIMITED,Automobiles & Components,7.275023e+07,Automobiles & Components,1
...,...,...,...,...,...,...
254,CEN,CONTACT ENERGY LIMITED,Utilities,5.638375e+09,Utilities,27
255,GNE,GENESIS ENERGY LIMITED,Utilities,2.267491e+09,Utilities,27
256,D2O,DUXTON WATER LIMITED,Utilities,2.519890e+08,Utilities,27
257,GNX,GENEX POWER LIMITED,Utilities,2.077766e+08,Utilities,27
258,LGI,LGI LIMITED,Utilities,1.792364e+08,Utilities,27

In [34]:
# drop the industry_gp column and industry_name columns from df
merged_df = merged_df.drop(['industry_gp', 'industry_name'], axis=1)

In [35]:
merged_df

    ticker                  company_name    market_cap  industry_id
0      ARB      ARB CORPORATION LIMITED.  2.455925e+09            1
1      GUD       G.U.D. HOLDINGS LIMITED  1.534343e+09            1
2      PWH          PWR HOLDINGS LIMITED  1.000822e+09            1
3      SFC  SCHAFFER CORPORATION LIMITED  2.272901e+08            1
4      AHL        ADRAD HOLDINGS LIMITED  7.275023e+07            1
..     ...                           ...           ...          ...
254    CEN        CONTACT ENERGY LIMITED  5.638375e+09           27
255    GNE        GENESIS ENERGY LIMITED  2.267491e+09           27
256    D2O          DUXTON WATER LIMITED  2.519890e+08           27
257    GNX           GENEX POWER LIMITED  2.077766e+08           27
258    LGI                   LGI LIMITED  1.792364e+08           27

[259 rows x 4 columns]

In [37]:
#exporing csv - merged dataframe
merged_df.to_csv('Resources/04_top_ten_with_industryID.csv', index=False)

In [38]:
#exporing csvs
industry_df.to_csv('Resources/05_Industry_Groups.csv', index=False)